<a href="https://colab.research.google.com/github/HarikaLingamsetty/Machine-Learning/blob/main/EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [49]:
import pandas as pd
df = pd.read_csv('nba.csv')

In [50]:
df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,0.357,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,0.222,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,0.345,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,0.595,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,0.576,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,0.571,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,0.553,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,0.559,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,0.580,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,0.538,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [51]:
df.shape

(708, 29)

In [52]:
pd.set_option('display.max_rows', df.shape[0]+1)

In [ ]:
df

In [54]:
pd.set_option('display.max_rows', 10)

In [55]:
df

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,0.357,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,0.222,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,0.345,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,0.595,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,0.576,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,0.571,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,0.553,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,0.559,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,0.580,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,0.538,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [56]:
df.dtypes

Player     object
Pos        object
Age         int64
Tm         object
G           int64
           ...
STL       float64
BLK       float64
TOV       float64
PF        float64
PTS       float64
Length: 29, dtype: object

In [57]:
df.select_dtypes(include = ['number'])

,Age,G,GS,MP,FG,FGA,FG%,3P,3PA,3P%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,25,31,2,19.0,1.8,5.1,0.357,1.3,4.1,0.323,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,28,10,0,12.3,0.4,1.8,0.222,0.2,1.5,0.133,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,22,34,1,12.6,1.1,3.2,0.345,0.7,2.2,0.338,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,25,80,80,33.4,6.0,10.1,0.595,0.0,0.0,0.000,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,21,82,28,23.3,3.4,5.9,0.576,0.0,0.2,0.200,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,29,4,1,20.5,4.0,7.0,0.571,0.0,0.0,0.000,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,22,59,25,18.3,3.1,5.6,0.553,0.0,0.0,0.000,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,21,59,37,17.6,3.6,6.4,0.559,0.0,0.0,0.000,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,21,33,12,15.6,3.4,5.8,0.580,0.0,0.0,0.000,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,21,26,25,20.2,3.8,7.2,0.538,0.0,0.0,0.000,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [58]:
df.select_dtypes(include = ['object'])

           Player Pos   Tm
0    Álex Abrines  SG  OKC
1      Quincy Acy  PF  PHO
2    Jaylen Adams  PG  ATL
3    Steven Adams   C  OKC
4     Bam Adebayo   C  MIA
..            ...  ..  ...
703  Tyler Zeller   C  MEM
704    Ante Žižić   C  CLE
705   Ivica Zubac   C  TOT
706   Ivica Zubac   C  LAL
707   Ivica Zubac   C  LAC

[708 rows x 3 columns]

In [59]:
df.PTS

0       5.3
1       1.7
2       3.2
3      13.9
4       8.9
       ...
703    11.5
704     7.8
705     8.9
706     8.5
707     9.4
Name: PTS, Length: 708, dtype: float64

In [60]:
df['PTS']

0       5.3
1       1.7
2       3.2
3      13.9
4       8.9
       ...
703    11.5
704     7.8
705     8.9
706     8.5
707     9.4
Name: PTS, Length: 708, dtype: float64

In [61]:
df.PTS.max()

36.1

In [62]:
df['PTS'].max()

36.1

In [63]:
df[df.PTS == df.PTS.max()]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
270,James Harden,PG,29,HOU,78,78,36.8,10.8,24.5,0.442,...,0.879,0.8,5.8,6.6,7.5,2.0,0.7,5.0,3.1,36.1

In [64]:
playermaxpts = df[df.PTS == df.PTS.max()]

In [65]:
playermaxpts.Tm

270    HOU
Name: Tm, dtype: object

In [66]:
playermaxpts.Pos

270    PG
Name: Pos, dtype: object

In [67]:
playermaxpts.G

270    78
Name: G, dtype: int64

In [68]:
df[df.PTS > 20]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
7,LaMarcus Aldridge,C,33,SAS,81,81,33.2,8.4,16.3,0.519,...,0.847,3.1,6.1,9.2,2.4,0.5,1.3,1.8,2.2,21.3
19,Giannis Antetokounmpo,PF,24,MIL,72,72,32.8,10.0,17.3,0.578,...,0.729,2.2,10.3,12.5,5.9,1.3,1.5,3.7,3.2,27.7
47,Bradley Beal,SG,25,WAS,82,82,36.9,9.3,19.6,0.475,...,0.808,1.1,3.9,5.0,5.5,1.5,0.7,2.7,2.8,25.6
68,Devin Booker,SG,22,PHO,64,64,35.0,9.2,19.6,0.467,...,0.866,0.6,3.5,4.1,6.8,0.9,0.2,4.1,3.1,26.6
103,Jimmy Butler,SG,29,MIN,10,10,36.1,7.4,15.7,0.471,...,0.787,1.6,3.6,5.2,4.3,2.4,1.0,1.4,1.8,21.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
648,Karl-Anthony Towns,C,23,MIN,77,77,33.1,8.8,17.1,0.518,...,0.836,3.4,9.0,12.4,3.4,0.9,1.6,3.1,3.8,24.4
662,Nikola Vučević,C,28,ORL,80,80,31.4,8.8,16.9,0.518,...,0.789,2.8,9.2,12.0,3.8,1.0,1.1,2.0,2.0,20.8
666,Kemba Walker,PG,28,CHO,82,82,34.9,8.9,20.5,0.434,...,0.844,0.6,3.8,4.4,5.9,1.2,0.4,2.6,1.6,25.6
668,John Wall,PG,28,WAS,32,32,34.5,7.7,17.3,0.444,...,0.697,0.5,3.2,3.6,8.7,1.5,0.9,3.8,2.2,20.7
675,Russell Westbrook,PG,30,OKC,73,73,36.0,8.6,20.2,0.428,...,0.656,1.5,9.6,11.1,10.7,1.9,0.5,4.5,3.4,22.9

In [69]:
df[df['3P'] == df['3P'].max()]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
159,Stephen Curry,PG,30,GSW,69,69,33.8,9.2,19.4,0.472,...,0.916,0.7,4.7,5.3,5.2,1.3,0.4,2.8,2.4,27.3

In [70]:
df[df['AST'] == df['AST'].max()]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
675,Russell Westbrook,PG,30,OKC,73,73,36.0,8.6,20.2,0.428,...,0.656,1.5,9.6,11.1,10.7,1.9,0.5,4.5,3.4,22.9

In [71]:
LAL = df.groupby('Tm').get_group('LAL')

In [72]:
LAL

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
35,Lonzo Ball,PG,21,LAL,47,45,30.3,3.9,9.7,0.406,...,0.417,1.1,4.2,5.3,5.4,1.5,0.4,2.2,2.4,9.9
49,Michael Beasley,PF,30,LAL,26,2,10.7,2.9,5.9,0.490,...,0.718,0.5,1.8,2.3,1.0,0.3,0.4,1.0,1.6,7.0
67,Isaac Bonga,PG,19,LAL,22,0,5.5,0.2,1.5,0.152,...,0.600,0.4,0.7,1.1,0.7,0.4,0.2,0.3,0.4,0.9
93,Reggie Bullock,SG,27,LAL,19,16,27.6,3.3,8.1,0.412,...,0.810,0.1,2.5,2.6,1.1,0.8,0.4,0.6,1.6,9.3
107,Kentavious Caldwell-Pope,SG,25,LAL,82,23,24.8,4.0,9.2,0.430,...,0.867,0.6,2.3,2.9,1.3,0.9,0.2,0.8,1.7,11.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
569,Rajon Rondo,PG,32,LAL,46,29,29.8,3.8,9.4,0.405,...,0.639,0.7,4.5,5.3,8.0,1.2,0.2,2.8,2.2,9.2
625,Lance Stephenson,SG,28,LAL,68,3,16.5,2.7,6.4,0.426,...,0.685,0.5,2.7,3.2,2.1,0.6,0.1,1.3,1.6,7.2
664,Moritz Wagner,C,21,LAL,43,5,10.4,1.7,4.0,0.415,...,0.811,0.4,1.6,2.0,0.6,0.3,0.3,0.9,1.3,4.8
682,Johnathan Williams,C,23,LAL,24,0,15.5,2.7,4.6,0.591,...,0.563,2.0,2.1,4.1,0.5,0.3,0.3,0.7,2.6,6.5
706,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,0.580,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5

In [73]:
LAL[LAL.PTS == LAL.PTS.max()]

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
335,LeBron James,SF,34,LAL,55,55,35.2,10.1,19.9,0.51,...,0.665,1.0,7.4,8.5,8.3,1.3,0.6,3.6,1.7,27.4

In [74]:
df.groupby('Pos').PTS.describe()

       count       mean       std   min     25%    50%     75%   max
Pos
C      120.0   8.785000  5.616582   0.0   4.175   7.75  12.350  27.5
C-PF     2.0   4.150000  1.202082   3.3   3.725   4.15   4.575   5.0
PF     147.0   7.703401  5.622380   0.0   3.350   6.30  11.100  27.7
PF-SF    2.0  11.200000  7.353911   6.0   8.600  11.20  13.800  16.4
PG     139.0   8.668345  6.284234   0.0   4.300   7.00  11.050  36.1
SF     120.0   8.259167  5.935203   0.0   4.200   6.70  11.600  28.0
SF-SG    2.0  15.450000  4.596194  12.2  13.825  15.45  17.075  18.7
SG     174.0   8.487356  5.724974   0.0   4.000   7.65  11.275  26.6
SG-PF    1.0   8.600000       NaN   8.6   8.600   8.60   8.600   8.6
SG-SF    1.0   6.500000       NaN   6.5   6.500   6.50   6.500   6.5

In [75]:
positions = ['C', 'PF', 'SF', 'PG', 'SG']
POS = df[df['Pos'].isin(positions)]
POS

,Player,Pos,Age,Tm,G,GS,MP,FG,FGA,FG%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,Álex Abrines,SG,25,OKC,31,2,19.0,1.8,5.1,0.357,...,0.923,0.2,1.4,1.5,0.6,0.5,0.2,0.5,1.7,5.3
1,Quincy Acy,PF,28,PHO,10,0,12.3,0.4,1.8,0.222,...,0.700,0.3,2.2,2.5,0.8,0.1,0.4,0.4,2.4,1.7
2,Jaylen Adams,PG,22,ATL,34,1,12.6,1.1,3.2,0.345,...,0.778,0.3,1.4,1.8,1.9,0.4,0.1,0.8,1.3,3.2
3,Steven Adams,C,25,OKC,80,80,33.4,6.0,10.1,0.595,...,0.500,4.9,4.6,9.5,1.6,1.5,1.0,1.7,2.6,13.9
4,Bam Adebayo,C,21,MIA,82,28,23.3,3.4,5.9,0.576,...,0.735,2.0,5.3,7.3,2.2,0.9,0.8,1.5,2.5,8.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
703,Tyler Zeller,C,29,MEM,4,1,20.5,4.0,7.0,0.571,...,0.778,2.3,2.3,4.5,0.8,0.3,0.8,1.0,4.0,11.5
704,Ante Žižić,C,22,CLE,59,25,18.3,3.1,5.6,0.553,...,0.705,1.8,3.6,5.4,0.9,0.2,0.4,1.0,1.9,7.8
705,Ivica Zubac,C,21,TOT,59,37,17.6,3.6,6.4,0.559,...,0.802,1.9,4.2,6.1,1.1,0.2,0.9,1.2,2.3,8.9
706,Ivica Zubac,C,21,LAL,33,12,15.6,3.4,5.8,0.580,...,0.864,1.6,3.3,4.9,0.8,0.1,0.8,1.0,2.2,8.5
707,Ivica Zubac,C,21,LAC,26,25,20.2,3.8,7.2,0.538,...,0.733,2.3,5.3,7.7,1.5,0.4,0.9,1.4,2.5,9.4

In [80]:
POS.groupby('Pos').PTS.describe()

     count      mean       std  min    25%   50%     75%   max
Pos
C    120.0  8.785000  5.616582  0.0  4.175  7.75  12.350  27.5
PF   147.0  7.703401  5.622380  0.0  3.350  6.30  11.100  27.7
PG   139.0  8.668345  6.284234  0.0  4.300  7.00  11.050  36.1
SF   120.0  8.259167  5.935203  0.0  4.200  6.70  11.600  28.0
SG   174.0  8.487356  5.724974  0.0  4.000  7.65  11.275  26.6